h3 {
    font-size: 25px !important;
}

.btn-success:hover {
    background-color: plum;
}

canvas {
border-color:gray;
border-style:double;
}

@keyframes example {
    from {
        box-shadow: 1px 1px 38px peru;
    }

    to {
        box-shadow: 1px 1px 38px brown;
    }
}

body {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbaDp57Qt6xz0arOD_g-OpSUHcM91QZ-r0k8Ev-yUd&s");
}